---
- name: Pull Docker Image of Backend
  hosts: localhost
  vars:
    ansible_python_interpreter: /usr/bin/python3
  tasks:
    - name: Pull image
      shell: docker pull docker.io/rithvikramasani/bloback:latest
    - name: Start docker service
      service:
        name: docker
        state: started
    - name: Running container
      shell: docker run -it -d --name Backend rithvikramasani/bloback